PORT=3001
SOLARMAN_BASE_URL=https://globalapi.solarmanpv.com
SOLARMAN_APP_ID=your_app_id
SOLARMAN_APP_SECRET=your_app_secret
SOLARMAN_EMAIL=your_email
SOLARMAN_PASSWORD=your_password
SOLARMAN_ORG_ID=your_org_id
SOLARMAN_TIMEOUT_MS=15000
